@font-face {
    font-family: "MySans";
    src: url("/static/font/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "MySans";
    src: url("/static/font/HarmonyOS_Sans_SC_Black.ttf") format("truetype");
    font-weight: bold;
}



html {
    font-size: 20px;

    --color-theme-pale: #fff6ff;
    --color-theme-base: #990099;
    --color-theme-dark: #660066;

    --color-plain-white: #ffffff;
    --color-plain-pale:  #f6f6f6;
    --color-plain-base:  #666666;
    --color-plain-dark:  #333333;
    --color-plain-black: #000000;
}



body, button, input, optgroup, select, textarea {
    font-family: "MySans";
}


.navbar-brand .navbar-item {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-theme-dark);
}

.navbar-start {
    font-size: 1.25rem;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 4rem;
    }

    .navbar-item img {
        max-height: 2rem;
    }

    .navbar-dropdown {
        font-size: 1rem;
    }
    .navbar-dropdown .navbar-item {
        padding: 0.5rem 0.75rem;
    }
}

.navbar-item, .navbar-link {
    color: var(--color-plain-dark);
}

/* 设置顺序 :hover -> :focus -> active  */
/* :hover  鼠标悬停 */
/* :focus  鼠标点击 */
/* :active 鼠标点击到释放之间 */
.navbar-link:hover, navbar-item:hover, .navbar-dropdown a.navbar-item:hover,
.navbar-link:focus, navbar-item:focus, .navbar-dropdown a.navbar-item:focus,
.navbar-link:focus-within {
    color: var(--color-theme-dark);
    background-color: var(--color-plain-pale);
}

.navbar-link.no-link:hover,
.navbar-link.no-link:focus,
.navbar-link.no-link:focus-within {
    cursor: default;
}


.block {
    margin: 1rem;
}



.box {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.box-invis {
    overflow-x: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.box::-webkit-scrollbar, .box-invis::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.box-invis-scroll-x {
    overflow-x: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-invis-scroll-y {
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-invis-scroll-xy {
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content:not(:last-child) {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-theme-dark);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 1.25rem;
    color: var(--color-theme-dark);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h3 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-theme-base);
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content h1, .content h2 {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.content h1::-webkit-scrollbar, .content h2::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}



/* theme button */
button, .button {
    font-family: "MySans";
}
.button:hover, .button.is-base:hover {
    border-color: var(--color-theme-dark);
}
.button.is-primary, .button.is-primary:hover {
    font-weight: bold;
    color: var(--color-plain-white);
    background-color: var(--color-theme-dark);
}
.button.is-light, .button.is-light:hover {
    font-weight: bold;
    color: var(--color-plain-base);
    background-color: var(--color-plain-pale);
}
.button.is-base {
    color: var(--color-theme-base);
    background-color: var(--color-theme-pale);
    white-space: pre-wrap;
    height:auto;
}
.button:focus:not(:active) {
    box-shadow: 0 0 0.2rem 0 var(--color-theme-base);
}
.button[disabled]:hover {
    border-color: #dbdbdb;
}


/* theme link */
.text-link {
    font-family: "MySans";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--color-plain-base);
    cursor: pointer;
}
.text-link:hover {
    color: var(--color-theme-base);
}


/* theme input */
input, .input {
    font-family: "MySans";
}


/* theme table */
.table {
    color: var(--color-plain-base);
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.table td, .table th {
    vertical-align: middle;
    border-color: var(--color-theme-dark);
    border-width: 1px;
}

.table thead td, .table thead th {
    border-width: 1px;
}

.table thead tr {
    background-color: var(--color-theme-base);
}

.table thead th {
    color:var(--color-plain-white);
}

.table tbody th {
    color:var(--color-plain-white);
    background-color: var(--color-theme-base)
}

.table tbody tr:last-child td, .table tbody tr:last-child th {
    border-bottom-width: 1px;
}

.table tbody td:hover {
    color: var(--color-theme-base);
    background-color: var(--color-theme-pale);
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
    color: var(--color-theme-base);
    background-color: var(--color-theme-pale);
}


.table.is-hoverable tbody tr.status-auth,
.table.is-hoverable tbody tr.status-auth:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-auth td:hover,
.table.is-hoverable tbody tr.status-auth td a,
.table tbody tr td.status-auth,
.table tbody tr td.status-auth:not(.is-selected):hover,
.table tbody tr td.status-auth a {
    color: #00947e;
    background-color: #ebfffc;
}

.table.is-hoverable tbody tr.status-done,
.table.is-hoverable tbody tr.status-done:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-done td:hover,
.table.is-hoverable tbody tr.status-done td a,
.table tbody tr td.status-done,
.table tbody tr td.status-done:not(.is-selected):hover,
.table tbody tr td.status-done a {
    color: #296fa8;
    background-color: #eff5fb;
}

.table.is-hoverable tbody tr.status-doing,
.table.is-hoverable tbody tr.status-doing:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-doing td:hover,
.table.is-hoverable tbody tr.status-doing td a,
.table tbody tr td.status-doing,
.table tbody tr td.status-doing:not(.is-selected):hover,
.table tbody tr td.status-doing a {
    color: #946c00;
    background-color: #fffaeb;
}

.table.is-hoverable tbody tr.status-fail,
.table.is-hoverable tbody tr.status-fail:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-fail td:hover,
.table.is-hoverable tbody tr.status-fail td a,
.table tbody tr td.status-fail,
.table tbody tr td.status-fail:not(.is-selected):hover,
.table tbody tr td.status-fail a {
    color: #cc0f35;
    background-color: #feecf0;
}

.table.is-hoverable tbody tr.status-undone,
.table.is-hoverable tbody tr.status-undone:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-undone td:hover,
.table.is-hoverable tbody tr.status-undone td a,
.table tbody tr td.status-undone,
.table tbody tr td.status-undone:not(.is-selected):hover,
.table tbody tr td.status-undone a {
    color: #363636;
    background-color: #f5f5f5;
}

.table.is-hoverable tbody tr.status-error,
.table.is-hoverable tbody tr.status-error:not(.is-selected):hover,
.table.is-hoverable tbody tr.status-error td:hover,
.table.is-hoverable tbody tr.status-error td a,
.table tbody tr td.status-error,
.table tbody tr td.status-error:not(.is-selected):hover,
.table tbody tr td.status-error a {
    color: #f5f5f5;
    background-color: #363636;
}

/* plain table */
.table td.plain-table, .table th.plain-table {
    vertical-align: middle;
    border-color: var(--color-plain-dark);
    border-top-width: 1px;
}

.table thead tr.plain-table {
    background-color: var(--color-plain-base);
}

.table thead th.plain-table {
    color:var(--color-plain-white);
}

tr.plain-table {
    color: var(--color-plain-base);
    background-color: var(--color-plain-white);
}

.table.is-hoverable tbody tr.plain-table:not(.is-selected):hover {
    color: var(--color-plain-dark);
    background-color: var(--color-plain-pale);
}

.table tbody tr.plain-table:last-child td, .table tbody tr.plain-table:last-child th {
    border-bottom-width: 1;
}

/* fixed table header */
.fix-header {
    overflow: auto;
}

.fix-header thead tr, .fix-header thead th {
    position: sticky;
    top: -1px;
    z-index: 1;
}

/* theme form */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.field {
    margin: auto;
}

.field.has-addons {
    display: flex;
    justify-content: center;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.control {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.input:hover, .select select:hover {
    border-color: var(--color-theme-dark);
}

.input:focus, .select select:focus  {
    border-color: var(--color-theme-dark);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.2rem 0 var(--color-theme-base);
}

.form-link {
    display: flex;
    justify-content: center;
    margin: 0;
}

.table-input {
    color: var(--color-theme-base);
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-plain-white);
    outline: none;
    /* background-color: inherit; */
    border-color: var(--color-theme-dark);
    background-color: var(--color-theme-pale);
}

.table-input:hover, .table-input:focus {
    border-color: var(--color-theme-dark);
}

.table-input::placeholder {
    font-weight: normal;
    color: var(--color-plain-base);
}

.file-cta, .file-name{
    text-align: center;
    justify-content: center;
    white-space: normal;
    height: auto;
}

.file-cta, .file-label .file-cta {
    color: var(--color-theme-base);
    background-color: var(--color-theme-pale);
}

.file-cta:hover, .file-label:hover .file-cta {
    color: var(--color-theme-base);
    background-color: var(--color-theme-pale);
    border-color: var(--color-theme-dark);
}

.file-cta:focus:not(:active) {
    box-shadow: 0 0 0.2rem 0 var(--color-theme-base);
}


/* message */
.notification {
    text-align: center;
    margin: auto;
    padding: 0.5rem;
}

.delete {
    width:      1.5rem;
    height:     1.5rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width:  1.5rem;
    max-width:  1.5rem;
}

select {
    text-align-last: center;
}