{% extends "base.html" %}

{% block content %}
<div class="block">

    <!-- 标题 -->
    <div class="box-invis">
        <div class="content">
            <a href="{{ url_for("view_auth.login") }}">
                <h1>登录</h1>
            </a>
        </div>
    </div>

    <!-- 消息 -->
    {% if msgs %}
        {% for __msg in msgs %}
            <div class="box-invis">
                {% if __msg["type"] == "success" %}
                    <div class="notification is-success"    style="width: 40rem">
                {% elif __msg["type"] == "info" %}
                    <div class="notification is-info"       style="width: 40rem">
                {% elif __msg["type"] == "warn" %}
                    <div class="notification is-warning"    style="width: 40rem">
                {% elif __msg["type"] == "error" %}
                    <div class="notification is-danger"     style="width: 40rem">
                {% endif %}
                        <button class="delete"></button>
                        {{ __msg["text"]|safe }}
                    </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- 登录 -->
    <div class="box">

        <!-- 表单 -->
        <div class="box-invis">
            <form action="{{ url_for("view_auth.login") }}"" method="POST" >
                <div class="field has-addons" style="width: 20rem">
                    <div class="control"><input class="input" style="width: 20rem" type="text"     name="username" placeholder="请输入 用户名" autofocus></div>
                </div>
                <div class="field has-addons" style="width: 20rem">
                    <div class="control"><input class="input" style="width: 20rem" type="password" name="password" placeholder="请输入 密码"></div>
                </div>
                <div class="field has-addons" style="width: 20rem">
                    <div class="control"><button class="button is-primary" style="width: 10rem" type="submit" name="method" value="login">登录</button></div>
                    <div class="control"><button class="button is-light"   style="width: 10rem" type="reset">重置</button></div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
// 关闭消息
document.addEventListener("DOMContentLoaded", () => {
    (document.querySelectorAll(".notification .delete") || []).forEach(($delete) => {
        const $notification = $delete.parentNode.parentNode;
        $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>
{% endblock %}
