{% extends "base.html" %}

{% block content %}
<div class="block">

    <!-- 标题 -->
    <div class="box-invis">
        <div class="content">
            <a href="{{ url_for("view_course.info") }}">
                <h1>课程信息</h1>
            </a>
        </div>
    </div>

    <!-- 消息 -->
    {% if msgs %}
        {% for __msg in msgs %}
            <div class="box-invis">
                {% if __msg["type"] == "success" %}
                    <div class="notification is-success"    style="width: 40rem">
                {% elif __msg["type"] == "info" %}
                    <div class="notification is-info"       style="width: 40rem">
                {% elif __msg["type"] == "warn" %}
                    <div class="notification is-warning"    style="width: 40rem">
                {% elif __msg["type"] == "error" %}
                    <div class="notification is-danger"     style="width: 40rem">
                {% endif %}
                        <button class="delete"></button>
                        {{ __msg["text"]|safe }}
                    </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- 查询信息 -->
    <div class="box">

        <div class="box-invis">
            <div class="content">
                <h2>查询信息</h2>
            </div>
        </div>

        <div class="box-invis">

            <form action="{{ url_for("view_course.info") }}" method="POST">

                <!-- 课程信息 -->
                <div class="field has-addons">
                    {% for __field, __field_config in config["search"].items() if __field in ["course_code"] %}
                        {% set __placeholder  = __field_config["placeholder"] %}
                        {% set __default      = __field_config["default"] %}
                        {% set __options      = __field_config["options"] %}
                        <div class="control">
                            <input class="input" type="text" name="{{ __field }}"
                                placeholder="{{ __placeholder|strftime }}"
                                value="{{ __default|strftime if __default }}"
                                list="id_{{ __field }}"
                            >
                                {% if __options %}
                                    <datalist id="id_{{ __field }}">
                                        {% for __option in __options %}
                                            <option value="{{ __option }}">{{ __option }}</option>
                                        {% endfor %}
                                    </datalist>
                                {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <!-- 活动信息 -->
                <div class="field has-addons">
                    {% for __field, __field_config in config["search"].items() if __field not in ["course_code"] %}
                        {% set __placeholder = __field_config["placeholder"] %}
                        {% set __default     = __field_config["default"] %}
                        {% set __options     = __field_config["options"] %}
                        <div class="control">
                            <input class="input" type="text" name="{{ __field }}"
                                placeholder="{{ __placeholder|strftime }}"
                                value="{{ __default|strftime if __default }}"
                                list="id_{{ __field }}"
                            >
                                {% if __options %}
                                    <datalist id="id_{{ __field }}">
                                        {% for __option in __options %}
                                            <option value="{{ __option }}">{{ __option }}</option>
                                        {% endfor %}
                                    </datalist>
                                {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="field has-addons">
                    <div class="control"><button class="button is-base" type="submit" name="method" value="search">查询</button></div>
                    <div class="control"><button class="button"         type="reset"                              >重置</button></div>
                </div>

            </form>

        </div>

    </div>

    <!-- 未查询 -->
    {% if course_infos is none %}

    <!-- 已查询 -->
    {% else %}

        <!-- 有结果 -->
        {% if course_infos|length != 0 %}

            <!-- 下载数据 -->
            {% if file_infos is not none %}
                {% for __file_info in file_infos %}
                    <form action="{{ url_for("view_tool.file") }}" method="POST">
                        <input name="file_dir"  value="{{ __file_info["file_dir"]  }}" hidden>
                        <input name="file_name" value="{{ __file_info["file_name"] }}" hidden>
                        <input name="save_name" value="{{ __file_info["save_name"] }}" hidden>
                        <div class="field has-addons">
                            <button class="button is-base" name="method" value="send_file">{{ __file_info["save_name"] }}</button>
                        </div>
                    </form>
                {% endfor %}
            {% endif %}

            <!-- 显示数据 -->
            <div class="box">

                <div class="box-invis">
                    <div class="content">
                        <h2>查询结果</h2>
                    </div>
                </div>

                {% for __course_info in course_infos %}

                    <!-- 课程信息 -->
                    <div class="box-invis">
                        <table class="table is-hoverable">
                            <tbody>
                                {% for __field, __config in config["course_info"].items() %}
                                    {% set __header = __config["header"] %}
                                    {% set __value  = __course_info[__field] %}
                                    <tr>
                                        <th style="text-align: center; width: 5rem">{{ __header }}</th>
                                        <td style="text-align: center; width: 30rem">{{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if __course_info["activity_infos"]|length != 0 %}
                        <!-- 活动信息 -->
                        <div class="box-invis-scroll-xy" style="height: 35rem">
                            <table class="table is-hoverable fix-header">
                                <tbody>
                                    <!-- 标题 -->
                                    <tr>
                                        {% for __field, __config in config["activity_info"].items() %}
                                            {% set __header = __config["header"] %}
                                            {% set __width  = __config["width"] %}
                                            <th style="text-align: center; width: {{ __width }}rem">{{ __header }}</th>
                                        {% endfor %}
                                    </tr>
                                    <!-- 内容 -->
                                    {% for __activity_info in __course_info["activity_infos"] %}
                                        <tr>
                                            {% for __field, __config in config["activity_info"].items() %}
                                                {% set __header = __config["header"] %}
                                                {% set __width  = __config["width"] %}
                                                {% set __value  = __activity_info[__field] %}
                                                <td style="text-align: center">{{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}</th>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>

        <!-- 无结果 -->
        {% else %}
            <div class="box">
                <div class="box-invis">
                    <div class="content">
                        <h2>无结果</h2>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
// 关闭消息
document.addEventListener("DOMContentLoaded", () => {
    (document.querySelectorAll(".notification .delete") || []).forEach(($delete) => {
        const $notification = $delete.parentNode.parentNode;
        $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>
{% endblock %}
