{% extends "base.html" %}

{% block content %}
<div class="block">

    <!-- 标题 -->
    <div class="box-invis">
        <div class="content">
            <a href="{{ url_for("view_tool.dakaji") }}">
                <h1>打卡机</h1>
            </a>
        </div>
    </div>

    <!-- 消息 -->
    {% if msgs %}
        {% for __msg in msgs %}
            <div class="box-invis">
                {% if __msg["type"] == "success" %}
                    <div class="notification is-success"    style="width: 40rem">
                {% elif __msg["type"] == "info" %}
                    <div class="notification is-info"       style="width: 40rem">
                {% elif __msg["type"] == "warn" %}
                    <div class="notification is-warning"    style="width: 40rem">
                {% elif __msg["type"] == "error" %}
                    <div class="notification is-danger"     style="width: 40rem">
                {% endif %}
                        <button class="delete"></button>
                        {{ __msg["text"]|safe }}
                    </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- 查询信息 -->
    <div class="box">

        {% for __method, __config in config["search"].items() %}
            {% set __title       = __config["title"] %}
            {% set __default     = __config["default"] %}
            {% set __placeholder = __config["placeholder"] %}
            {% set __name        = __config["name"] %}
            <div class="box-invis">
                <div class="content">
                    <h2>{{ __title }}</h2>
                    <h3>数据只保存2个月</h3>
                </div>
            </div>
            <div class="box-invis">
                <form action="{{ url_for("view_tool.dakaji") }}" method="POST">
                    <div class="field has-addons">
                        {% if __default %}
                            <div class="control"><input class="input" type="text" name="{{ __name }}" style="width: 20rem; text-align: center"
                            placeholder="{{ __placeholder }}" value="{{ __default }}"></div>
                        {% else %}
                            <div class="control"><input class="input" type="text" name="{{ __name }}" style="width: 20rem; text-align: center"
                            placeholder="{{ __placeholder }}"></div>
                        {% endif %}
                    </div>
                    <div class="field has-addons">
                        <div class="control"><button class="button is-base" style="width: 5rem" type="submit" name="method" value="{{ __method }}">提交</button></div>
                        <div class="control"><button class="button"         style="width: 5rem" type="reset"                                      >重置</button></div>
                    </div>
                </form>
            </div>
        {% endfor %}

    </div>

    <!-- 下载数据 -->
    {% if file_infos is not none %}
        <div class="box">

            <div class="box-invis">
                <div class="content">
                    <h2>下载数据</h2>
                </div>
            </div>

            <div class="box-invis">
                {% for __file_info in file_infos %}
                    <form action="{{ url_for("view_tool.file") }}" method="POST">
                        <input name="file_dir"  value="{{ __file_info["file_dir"]  }}" hidden>
                        <input name="file_name" value="{{ __file_info["file_name"] }}" hidden>
                        <input name="save_name" value="{{ __file_info["save_name"] }}" hidden>
                        <div class="field has-addons">
                            <button class="button is-base" name="method" value="send_file">{{ __file_info["save_name"] }}</button>
                        </div>
                    </form>
                {% endfor %}
            </div>

        </div>
    {% endif %}

    <!-- 未查询 -->
    {% if meeting_infos is none %}

    <!-- 已查询 -->
    {% else %}

        <!-- 有结果  -->
        {% if meeting_infos|length != 0 %}

            <!-- 显示数据 -->
            <div class="box">

                <div class="box-invis">
                    <div class="content">
                        <h2>查询结果</h2>
                    </div>
                </div>

                <div class="box-invis">
                    <table class="table is-hoverable">
                        <tbody>
                            {% for __meeting_info in meeting_infos %}
                                <tr>
                                    <th style="text-align: center; width:  5rem">{{ __meeting_info["date"] }}</th>
                                    {% set __href = url_for("view_tool.dakaji", method="search_data", search_name=__meeting_info["name"]) %}
                                    <td style="text-align: center; width: 15rem">
                                        <a href="{{ __href }}" style="color: unset">{{ __meeting_info["name"] }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        <!-- 无结果 -->
        {% else %}
            <div class="box">
                <div class="box-invis">
                    <div class="content">
                        <h2>无结果</h2>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}

</div>
{% endblock %}

{% block script %}
<script>
// 关闭消息
document.addEventListener("DOMContentLoaded", () => {
    (document.querySelectorAll(".notification .delete") || []).forEach(($delete) => {
        const $notification = $delete.parentNode.parentNode;
        $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>
{% endblock %}
