{% extends "base.html" %}

{% block content %}
<div class="block">

    <!-- 标题 -->
    <div class="box-invis">
        <div class="content">
            <a href="{{ url_for("view_user.info") }}">
                <h1>人员信息</h1>
            </a>
        </div>
    </div>

    <!-- 消息 -->
    {% if msgs %}
        {% for __msg in msgs %}
            <div class="box-invis">
                {% if __msg["type"] == "success" %}
                    <div class="notification is-success"    style="width: 40rem">
                {% elif __msg["type"] == "info" %}
                    <div class="notification is-info"       style="width: 40rem">
                {% elif __msg["type"] == "warn" %}
                    <div class="notification is-warning"    style="width: 40rem">
                {% elif __msg["type"] == "error" %}
                    <div class="notification is-danger"     style="width: 40rem">
                {% endif %}
                        <button class="delete"></button>
                        {{ __msg["text"]|safe }}
                    </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- 查询信息 -->
    <div class="box">

        <div class="box-invis">
            <div class="content">
                <h2>查询信息</h2>
            </div>
        </div>

        <div class="box-invis">

            <form action="{{ url_for("view_user.info") }}" method="POST">
                <div class="field has-addons">
                    {% set __name        = "campus_idno" %}
                    {% set __default     = config["search"][__name]["default"] %}
                    {% set __placeholder = config["search"][__name]["placeholder"] %}
                    {% if __default is not none %}
                        <div class="control"><input class="input" type="text" name="{{ __name }}" placeholder="{{ __placeholder }}" value="{{ __default }}"></div>
                    {% else %}
                        <div class="control"><input class="input" type="text" name="{{ __name }}" placeholder="{{ __placeholder }}"></div>
                    {% endif %}
                    <div class="control"><button class="button is-base" type="submit" name="method" value="search_idno">查询</button></div>
                    <div class="control"><button class="button"         type="reset"                                   >重置</button></div>
                </div>
            </form>

            <form action="{{ url_for("view_user.info") }}" method="POST">
                <div class="field has-addons">
                    {% set __name        = "name" %}
                    {% set __default     = config["search"][__name]["default"] %}
                    {% set __placeholder = config["search"][__name]["placeholder"] %}
                    {% if __default is not none %}
                        <div class="control"><input class="input" type="text" name="{{ __name }}" placeholder="{{ __placeholder }}" value="{{ __default }}"></div>
                    {% else %}
                        <div class="control"><input class="input" type="text" name="{{ __name }}" placeholder="{{ __placeholder }}"></div>
                    {% endif %}
                    <div class="control"><button class="button is-base" type="submit" name="method" value="search_name">查询</button></div>
                    <div class="control"><button class="button"         type="reset"                                   >重置</button></div>
                </div>
            </form>

        </div>

    </div>

    <!-- 未查询 -->
    {% if user_infos is none %}

    <!-- 已查询 -->
    {% else %}

        <!-- 有结果  -->
        {% if user_infos|length != 0 %}

            <!-- 下载数据 -->
            {% if file_infos is not none %}
                {% for __file_info in file_infos %}
                    <form action="{{ url_for("view_tool.file") }}" method="POST">
                        <input name="file_dir"  value="{{ __file_info["file_dir"]  }}" hidden>
                        <input name="file_name" value="{{ __file_info["file_name"] }}" hidden>
                        <input name="save_name" value="{{ __file_info["save_name"] }}" hidden>
                        <div class="field has-addons">
                            <button class="button is-base" name="method" value="send_file">{{ __file_info["save_name"] }}</button>
                        </div>
                    </form>
                {% endfor %}
            {% endif %}

            <!-- 显示数据 -->
            <div class="box">

                <div class="box-invis">
                    <div class="content">
                        <h2>查询结果</h2>
                    </div>
                </div>

                {% for __user_info in user_infos %}

                    <!-- 人员信息 -->
                    <div class="box-invis">
                        <table class="table is-hoverable">
                            <tbody>
                                {% for __field, __field_config in config["user_info"].items() %}
                                    {% set __header = __field_config["header"] %}
                                    {% set __value  = __user_info[__field] %}
                                    <tr>
                                        <th style="text-align: center; width: 5rem">{{ __header }}</th>
                                        <td style="text-align: center; width: 15rem">{{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if __user_info["course_records"] %}
                        <!-- 课程记录 -->
                        {% set __course_records = __user_info["course_records"] %}
                        {% set __title_1 = "课程信息" %}
                        {% set __title_2 = "课程记录" %}
                        {% set __categ_1 = "course_info" %}
                        {% set __categ_2 = "course_record" %}
                        {% for __course_record in __course_records %}
                            {% set __href_1 = url_for(
                                "view_course.info",
                                course_code=__course_record["course_code"]
                            ) %}
                            {% set __href_2 = url_for(
                                "view_course.record",
                                course_code=__course_record["course_code"],
                                campus_idno=__course_record["campus_idno"]
                            ) %}
                            {% if   __course_record["status"] == "已认证" %}
                                {% set __status_2 = "status-auth" %}
                            {% elif __course_record["status"] == "已完成" %}
                                {% set __status_2 = "status-done" %}
                            {% elif __course_record["status"] == "进行中" %}
                                {% set __status_2 = "status-doing" %}
                            {% elif __course_record["status"] == "未开始" %}
                                {% set __status_2 = "status-undone" %}
                            {% endif %}
                            <hr>
                            <div class="box-invis">
                                <div class="content">
                                    <h3>{{ __course_record["course_code"] }} 课程记录</h3>
                                </div>
                            </div>
                            <div class="box-invis-scroll-x">
                                <table class="table is-hoverable fix-header">
                                    <tbody>
                                        <!-- 大类 -->
                                        <tr>
                                            <!-- 课程信息 -->
                                            <th style="text-align: center" colspan="{{ config[__categ_1]|length }}">{{ __title_1 }}</th>
                                            <!-- 课程记录 -->
                                            <th style="text-align: center" colspan="{{ config[__categ_2]|length }}">{{ __title_2 }}</th>
                                        </tr>
                                        <!-- 标题 -->
                                        <tr>
                                            <!-- 课程信息 -->
                                            {% for __field, __config in config[__categ_1].items() %}
                                                {% set __header = __config["header"] %}
                                                {% set __width  = __config["width"] %}
                                                <th style="text-align: center; width: {{ __width }}rem">{{ __header }}</th>
                                            {% endfor %}
                                            <!-- 课程记录 -->
                                            {% for __field, __config in config[__categ_2].items() %}
                                                {% set __header = __config["header"] %}
                                                {% set __width  = __config["width"] %}
                                                <th style="text-align: center; width: {{ __width }}rem">{{ __header }}</th>
                                            {% endfor %}
                                        </tr>
                                        <!-- 内容 -->
                                        <tr>
                                            <!-- 课程信息 -->
                                            {% for __field, __config in config[__categ_1].items() %}
                                                {% set __value = __course_record[__categ_1][__field] %}
                                                <td style="text-align: center">
                                                    <a href="{{ __href_1 }}" style="color: unset">
                                                        {{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}
                                                    </a>
                                                </td>
                                            {% endfor %}
                                            <!-- 课程记录 -->
                                            {% for __field, __config in config[__categ_2].items() %}
                                                {% set __value = __course_record[__field] %}
                                                <td style="text-align: center" class="{{ __status_2 }}">
                                                    <a href="{{ __href_2 }}" style="color: unset">
                                                        {{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}
                                                    </a>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            {% if __course_record["activity_records"] %}
                                <!-- 活动记录 -->
                                {% set __activity_records = __course_record["activity_records"] %}
                                {% set __title_1 = "活动信息" %}
                                {% set __title_2 = "活动记录" %}
                                {% set __categ_1 = "activity_info" %}
                                {% set __categ_2 = "activity_record" %}
                                <div class="box-invis">
                                    <div class="content">
                                        <h3>{{ __course_record["course_code"] }} 活动记录</h3>
                                    </div>
                                </div>
                                <div class="box-invis-scroll-x">
                                    <table class="table is-hoverable fix-header">
                                        <tbody>
                                            <!-- 大类 -->
                                            <tr>
                                                <!-- 活动信息 -->
                                                <th style="text-align: center" colspan="{{ config[__categ_1]|length }}">{{ __title_1 }}</th>
                                                <!-- 活动记录 -->
                                                <th style="text-align: center" colspan="{{ config[__categ_2]|length }}">{{ __title_2 }}</th>
                                            </tr>
                                            <!-- 标题 -->
                                            <tr>
                                                <!-- 活动信息 -->
                                                {% for __field, __config in config[__categ_1].items() %}
                                                    {% set __header = __config["header"] %}
                                                    {% set __width  = __config["width"] %}
                                                    <th style="text-align: center; width: {{ __width }}rem">{{ __header }}</th>
                                                {% endfor %}
                                                <!-- 活动记录 -->
                                                {% for __field, __config in config[__categ_2].items() %}
                                                    {% set __header = __config["header"] %}
                                                    {% set __width  = __config["width"] %}
                                                    <th style="text-align: center; width: {{ __width }}rem">{{ __header }}</th>
                                                {% endfor %}
                                            </tr>
                                            <!-- 内容 -->
                                            {% for __activity_record in __activity_records %}
                                                {% set __href_1 = url_for(
                                                    "view_activity.info",
                                                    activity_code=__activity_record["activity_code"]
                                                ) %}
                                                {% set __href_2 = url_for(
                                                    "view_activity.record",
                                                    activity_code=__activity_record["activity_code"],
                                                    campus_idno=__activity_record["campus_idno"]
                                                ) %}
                                                {% if __activity_record["count"] > 0 %}
                                                    {% set __status_2 = "status-done" %}
                                                {% elif __activity_record["count"] == 0 %}
                                                    {% set __status_2 = "status-undone" %}
                                                {% else %}
                                                    {% set __status_2 = "status-fail" %}
                                                {% endif %}
                                                <tr>
                                                    <!-- 活动信息 -->
                                                    {% for __field, __config in config[__categ_1].items() %}
                                                        {% set __value = __activity_record[__categ_1][__field] %}
                                                        <td style="text-align: center">
                                                            <a href="{{ __href_1 }}" style="color: unset">
                                                                {{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}
                                                            </a>
                                                        </td>
                                                    {% endfor %}
                                                    <!-- 活动记录 -->
                                                    {% for __field, __config in config[__categ_2].items() %}
                                                        {% set __value = __activity_record[__field] %}
                                                        <td style="text-align: center" class="{{ __status_2 }}">
                                                            <a href="{{ __href_2 }}" style="color: unset">
                                                                {{ __value|strftime|replace("\n","<br/>")|replace("'",'"')|safe if __value is not none }}
                                                            </a>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}


                        {% endfor %}
                    {% endif %}

                {% endfor %}

            </div>

        <!-- 无结果 -->
        {% else %}
            <div class="box">
                <div class="box-invis">
                    <div class="content">
                        <h2>无结果</h2>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}

</div>
{% endblock %}

{% block script %}
<script>
// 关闭消息
document.addEventListener("DOMContentLoaded", () => {
    (document.querySelectorAll(".notification .delete") || []).forEach(($delete) => {
        const $notification = $delete.parentNode.parentNode;
        $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>
{% endblock %}
